.fill-content{
	text-align: center;
}
ul.progress-bar{
	list-style: none;
	margin: 15px 0;
	padding: 0 15px;
	display: inline-block;
}
ul.progress-bar:after{
	clear: both;
	content: "";
	display: block;
}
ul.progress-bar > li{
	float: left;
	margin: 0 5px;
}
ul.progress-bar > li .dot{
	width: 15px;
	height: 15px;
	background: #B5D1F2;
	border-radius: 50%;
}

ul.progress-bar > li.active .dot{
	background: none;
	border:1px solid blue;
}