.questions{
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.questions li{
	border-bottom:1px solid #eaeaea;
	padding:15px;
}

.qid{
	color: #369;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 18px;
}

.qtext{
	color:#1d1c1c;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.left-part{
	float: left;
}
.right-part{
	float: right;
}
.clearfix{
	clear: both
}
.wrapper{
	margin-top:25px;
}
.top-strip{
	padding: 12px;
}
.wrapper .top-strip .fa.fa-plus{
	display: none;
}

.wrapper.collapsed .top-strip .fa.fa-plus{
	display: inline-block;
}

.wrapper.collapsed .top-strip .fa.fa-minus{
	display: none;
}
.wrapper .content{
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
}

.wrapper.collapsed .content{
	max-height: 0;
	overflow: hidden;
}